		body {
			font-family: sans-serif;
		}
		/*.container {
			height: 800px;
			margin: 0 auto;
			border: 2px solid blue;
			overflow: scroll;
		} */
		.gantt-container {
			height: 600px;
			border: 2px solid #f5f5f5;
			overflow: scroll;
		}
		.gantt-container .popup-wrapper .title {
			font-weight: bold;
			color: #dfe2e5;
		}
		/* style for GitHub link in the pop-up */
		.popup-wrapper a {
			color: #dfe2e5;
		}
		.admin {
			position: relative;
			float: right;
		}
		.colorcode span, div {padding: 3px; margin: 3px;}
		/* custom class for each repo */
		.gantt .tools .bar { fill: #999999; }
		.gantt .tools .bar-progress { fill: #666666; }
		.cc-tools {color: #fff; background-color: #666666;}
		.gantt .data-model-harmonization .bar { fill: #aace71;}
		.gantt .data-model-harmonization .bar-progress { fill: #758e4f; }
		.cc-dmh {color: #fff; background-color: #758e4f;}
		.gantt .community-development .bar { fill: #6eb29d;}
		.gantt .community-development .bar-progress { fill: #477164; }
		.cc-comdev {color: #fff; background-color: #477164;}
		.gantt .Terminology .bar { fill: #76e7f2;}
		.gantt .Terminology .bar-progress { fill: #60bdc6; }
		.cc-term {color: #fff; background-color: #60bdc6;}
		.gantt .operations .bar { fill: #00bbff;}
		.gantt .operations .bar-progress { fill: #0099d5; }
		.cc-ops {color: #fff; background-color: #0099d5;}